In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/marketing-strategy-personalised-offer/sample.csv
/kaggle/input/marketing-strategy-personalised-offer/train_data.csv
/kaggle/input/marketing-strategy-personalised-offer/test_data.csv

In [2]:
data=pd.read_csv('/kaggle/input/marketing-strategy-personalised-offer/train_data.csv')
data.head()  # describing the data

,offer expiration,income_range,no_visited_Cold drinks,travelled_more_than_15mins_for_offer,Restaur_spend_less_than20,Marital Status,restaurant type,age,Prefer western over chinese,travelled_more_than_25mins_for_offer,...,restuarant_opposite_direction_house,has Children,visit restaurant with rating (avg),temperature,Restaur_spend_greater_than20,Travel Time,Climate,drop location,Prefer home food,Offer Accepted
0,2days,₹100000 or More,4~8,1,less1,Married partner,4 star restaurant,36,0,0,...,0,0,4,67,less1,22,Spring,Location B,0,No
1,2days,₹87500 - ₹99999,4~8,0,4~8,Married partner,Take-away restaurant,50plus,0,0,...,0,1,3,89,1~3,18,Summer,Location B,0,Yes
2,2days,₹87500 - ₹99999,less1,1,1~3,Single,Cold drinks,26,1,0,...,1,1,4,67,less1,7,Winter,Location A,1,Yes
3,10hours,₹37500 - ₹49999,less1,0,1~3,Single,Take-away restaurant,46,1,0,...,0,1,3,89,1~3,7,Summer,Location C,0,No
4,2days,₹100000 or More,never,1,1~3,Single,4 star restaurant,21,0,1,...,1,0,3,40,less1,7,Summer,Location C,0,No

In [3]:
#data.shape   # size of dataset  12379 rows and 31 columns

In [4]:
#data.info()   #datatypes of all columns in data

In [5]:
#data.isna().sum()/len(data)*100

In [6]:
#data.describe()

In [7]:
#data.columns

In [8]:
# constructing feature and label dataset
x=data.drop(['Offer Accepted'],axis=1)
y=data.loc[:,['Offer Accepted']]
x.head()

,offer expiration,income_range,no_visited_Cold drinks,travelled_more_than_15mins_for_offer,Restaur_spend_less_than20,Marital Status,restaurant type,age,Prefer western over chinese,travelled_more_than_25mins_for_offer,...,Job/Job Industry,restuarant_opposite_direction_house,has Children,visit restaurant with rating (avg),temperature,Restaur_spend_greater_than20,Travel Time,Climate,drop location,Prefer home food
0,2days,₹100000 or More,4~8,1,less1,Married partner,4 star restaurant,36,0,0,...,Unemployed,0,0,4,67,less1,22,Spring,Location B,0
1,2days,₹87500 - ₹99999,4~8,0,4~8,Married partner,Take-away restaurant,50plus,0,0,...,Unemployed,0,1,3,89,1~3,18,Summer,Location B,0
2,2days,₹87500 - ₹99999,less1,1,1~3,Single,Cold drinks,26,1,0,...,Arts Design Entertainment Sports & Media,1,1,4,67,less1,7,Winter,Location A,1
3,10hours,₹37500 - ₹49999,less1,0,1~3,Single,Take-away restaurant,46,1,0,...,Sales & Related,0,1,3,89,1~3,7,Summer,Location C,0
4,2days,₹100000 or More,never,1,1~3,Single,4 star restaurant,21,0,1,...,Sales & Related,1,0,3,40,less1,7,Summer,Location C,0

**Preprocessing Steps**

In [9]:
x=x.fillna(x.mode().iloc[0])  #filling of missing values using strategy as mode
#x.isna().sum()

In [10]:
# array of numeric features
num_feat=['travelled_more_than_15mins_for_offer',
          'Prefer western over chinese',
          'travelled_more_than_25mins_for_offer',
          'travelled_more_than_5mins_for_offer',
          'restuarant_same_direction_house',
        'Cooks regularly',
    'is foodie',
    'restuarant_opposite_direction_house',
    'has Children',
    'visit restaurant with rating (avg)',
    'temperature',
    'Travel Time',
    'Prefer home food']

# array to categorical features 
cat_feat=['offer expiration', 'income_range', 'no_visited_Cold drinks','Restaur_spend_less_than20',
       'Marital Status', 'restaurant type', 'age','no_visited_bars','gender','Customer type', 'Qualification','no_Take-aways',
       'Job/Job Industry','Restaur_spend_greater_than20','Climate',
       'drop location']

#array of ordinal categorical features
cat_feat_ord=['offer expiration', 'income_range', 'no_visited_Cold drinks',
              'Restaur_spend_less_than20','age','no_visited_bars','Qualification','no_Take-aways',
             'Restaur_spend_greater_than20']

#array of nominal categorical features
cat_feat_nom=['Marital Status','restaurant type','gender','car','Customer type','Job/Job Industry',
              'Climate','drop location']

# following are the arrays constructed that will be used for ordinal encoding of ordinal features
# There are in total of 9 ordinal features in the dataset

ord1=['10hours','2days']
ord2=['Less than ₹12500','₹12500 - ₹24999','₹25000 - ₹37499',
      '₹37500 - ₹49999','₹50000 - ₹62499','₹62500 - ₹74999',
      '₹75000 - ₹87499','₹87500 - ₹99999','₹100000 or More']
ord3=['never','less1','1~3','4~8', 'gt8']
ord4=['never','less1','1~3','4~8','gt8']
ord5=['below21','21','26','31','36','41','46','50plus'] #age
ord6=['never','less1','1~3', '4~8', 'gt8']
ord7=['Some High School','High School Graduate','Some college - no degree','Bachelors degree',
      'Associates degree','Graduate degree (Masters or Doctorate)']
ord8=['never','less1','1~3','4~8','gt8']
ord9=['never','less1','1~3','4~8','gt8']
ord_arr=[ord1,ord2,ord3,ord4,ord5,ord6,ord7,ord8,ord9]

In [11]:
from sklearn.preprocessing import OrdinalEncoder, LabelEncoder

#fill missing values
def fillMissing(test):
    test=test.fillna(test.mode().iloc[0])
    return test

#function for appeding numeric features without any need of preprocessing
def initialProcessing(test,num_feat):    
    test=test.fillna(test.mode().iloc[0])
    X_test=pd.DataFrame(test[num_feat])
    return X_test

#function to preprocess nominal categorical features using pd.get_dummies() 
def nominalEncoding(test,X_test,cat_feat_nom): 
    """for i in cat_feat_nom:
        le=LabelEncoder()
        X_test[i]=le.fit_transform(test[[i]])
    return X_test"""
    X_test=pd.get_dummies(test,columns=cat_feat_nom)
    return X_test

#function to preprocess ordinal categorical features using ordinal encoding     
def ordinalTransform(test,X_test,ord_arr,cat_feat_ord):   
    for i in range(len(ord_arr)):
        oe=OrdinalEncoder(categories=[ord_arr[i]])
        X_test[cat_feat_ord[i]]=oe.fit_transform(test[[cat_feat_ord[i]]])
    return X_test

In [12]:
train=fillMissing(x)
train1=initialProcessing(train,num_feat)
train2=nominalEncoding(train,train1,cat_feat_nom)
X=ordinalTransform(train,train2,ord_arr,cat_feat_ord)
X.head()

,offer expiration,income_range,no_visited_Cold drinks,travelled_more_than_15mins_for_offer,Restaur_spend_less_than20,age,Prefer western over chinese,travelled_more_than_25mins_for_offer,travelled_more_than_5mins_for_offer,no_visited_bars,...,Job/Job Industry_Sales & Related,Job/Job Industry_Student,Job/Job Industry_Transportation & Material Moving,Job/Job Industry_Unemployed,Climate_Spring,Climate_Summer,Climate_Winter,drop location_Location A,drop location_Location B,drop location_Location C
0,1.0,8.0,3.0,1,1.0,4.0,0,0,1,1.0,...,0,0,0,1,1,0,0,0,1,0
1,1.0,7.0,3.0,0,3.0,7.0,0,0,1,0.0,...,0,0,0,1,0,1,0,0,1,0
2,1.0,7.0,1.0,1,2.0,2.0,1,0,1,0.0,...,0,0,0,0,0,0,1,1,0,0
3,0.0,3.0,1.0,0,2.0,6.0,1,0,1,0.0,...,1,0,0,0,0,1,0,0,0,1
4,1.0,8.0,0.0,1,2.0,1.0,0,1,1,1.0,...,1,0,0,0,0,1,0,0,0,1

In [13]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)    #Train and Test datasets for trial purpose
x_train.head(2)

,offer expiration,income_range,no_visited_Cold drinks,travelled_more_than_15mins_for_offer,Restaur_spend_less_than20,age,Prefer western over chinese,travelled_more_than_25mins_for_offer,travelled_more_than_5mins_for_offer,no_visited_bars,...,Job/Job Industry_Sales & Related,Job/Job Industry_Student,Job/Job Industry_Transportation & Material Moving,Job/Job Industry_Unemployed,Climate_Spring,Climate_Summer,Climate_Winter,drop location_Location A,drop location_Location B,drop location_Location C
1691,1.0,3.0,0.0,1,2.0,4.0,0,0,1,1.0,...,0,0,0,0,0,1,0,0,1,0
8979,1.0,2.0,3.0,0,2.0,2.0,1,0,1,1.0,...,0,0,0,0,1,0,0,0,1,0

In [14]:
from sklearn.ensemble import GradientBoostingClassifier, RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,f1_score,classification_report

**Model 1- Gradient Boosting Classifier**

In [15]:
gbc=GradientBoostingClassifier()
gbc.fit(x_train,y_train)
gbc.score(x_train,y_train)

/opt/conda/lib/python3.7/site-packages/sklearn/ensemble/_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.6604059375946683

In [16]:
y_predgbc=gbc.predict(x_test)
print(classification_report(y_test,y_predgbc))

              precision    recall  f1-score   support

          No       0.63      0.40      0.49      1105
         Yes       0.63      0.81      0.71      1371

    accuracy                           0.63      2476
   macro avg       0.63      0.61      0.60      2476
weighted avg       0.63      0.63      0.61      2476

**Model 2-Random Forest Classifier**

In [17]:
rfc=RandomForestClassifier()
rfc.fit(x_train,y_train)               
rfc.score(x_train,y_train)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

1.0

In [18]:
y_predrfc=rfc.predict(x_test)
print(classification_report(y_test,y_predrfc))

              precision    recall  f1-score   support

          No       0.61      0.41      0.49      1105
         Yes       0.62      0.80      0.70      1371

    accuracy                           0.62      2476
   macro avg       0.62      0.60      0.59      2476
weighted avg       0.62      0.62      0.61      2476

**Model 3-K Nearest Neighbour Classifier**

In [19]:
knn=KNeighborsClassifier(n_neighbors=5)
knn.fit(x_train,y_train)
knn.score(x_train,y_train)

/opt/conda/lib/python3.7/site-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

0.7212965767949107

In [20]:
y_predknn=knn.predict(x_test)
print(classification_report(y_test,y_predknn))

              precision    recall  f1-score   support

          No       0.51      0.43      0.47      1105
         Yes       0.59      0.67      0.63      1371

    accuracy                           0.56      2476
   macro avg       0.55      0.55      0.55      2476
weighted avg       0.56      0.56      0.56      2476

**Model 3-Logistic Regression**

In [21]:
lr=LogisticRegression()
lr.fit(x_train,y_train)
lr.score(x_train,y_train)

/opt/conda/lib/python3.7/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/conda/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

0.6163788750883571

In [22]:
y_predlr=lr.predict(x_test)
print(classification_report(y_test,y_predlr))

              precision    recall  f1-score   support

          No       0.59      0.40      0.48      1105
         Yes       0.62      0.78      0.69      1371

    accuracy                           0.61      2476
   macro avg       0.60      0.59      0.58      2476
weighted avg       0.61      0.61      0.59      2476

In [23]:
test_data=pd.read_csv('/kaggle/input/marketing-strategy-personalised-offer/test_data.csv')

In [24]:
test=fillMissing(test_data)
test1=initialProcessing(test,num_feat)
test2=nominalEncoding(test,test1,cat_feat_nom)
X_test=ordinalTransform(test,test2,ord_arr,cat_feat_ord)

In [25]:
#Y_predgbc=gbc.predict(X_test)

In [26]:
Y_predrfc=rfc.predict(X_test) #0.62563

In [27]:
#Y_predknn=knn.predict(X_test)

In [28]:
#Y_predlr=lr.predict(X_test)

In [29]:
submission=pd.DataFrame(columns=['id','Offer Accepted'])
submission['id']=[i for i in range(len(Y_predrfc))]
submission['Offer Accepted']=Y_predrfc

In [30]:
submission.head()

   id Offer Accepted
0   0            Yes
1   1            Yes
2   2             No
3   3             No
4   4            Yes

In [31]:
submission.to_csv('submission.csv',index=False)